<td>{{#with owner}}<img src="{{ avatar_url }}" title="{{ name }}" alt="{{ name }}" />{{/with}}</td>
<td><time datetime="{{ date }}">{{ date }}</time></td>
<td><img src="{{ activity_icon_url }}" title="{{ activity }}" alt="{{ activity }}"/></td>
<td>{{ numberFormat distance 1 }}</td>
<td>{{ duration_string }}</td>
<td>{{ pace }}</td>
